salt.mjs
secret.mjs
clearall.mjs
config.mjs
test.mjs
backups/*
!backups/delete.me
backups/sqlite/*
!backups/sqlite/
!backups/sqlite/delete.me
!restore-from/delete.me
restore-from/*
test.db
test.db-journal
data/*.db
logs/*.log
logs/*.zip
logs/imported/*.log
logs/rejected/*.log