        </main>
        <footer>
            <a href="https://github.com/scottadkin/node-utstats-lite">Node UTStats Lite Website</a> for the <a href="https://github.com/rxut/UTStatsLite">UTStats Lite Mutator</a><br>
            Website Version 2.0.x &copy; 2024-2026 Scott Adkin<br>
            UTStats-lite changes by rX <br>
            UTStats mod was originally created by azazel, AnthraX, and toa, with additions by Skillz, killereye, Enakin, Loki and rork. 
        </footer>
    </body>
</html>