<%- include("header.ejs", {
        "mode": "", 
        meta,
        host,
        userSession
    });
-%>
<script src="../js/ui/ui.js"></script>
<div class="header-wrapper">
    JSON API Examples
</div>
<div id="root">

	<div class="info">
        View examples of the various JSON API commands.
    </div>
    <div class="header-wrapper" id="match">
        Match Examples
    </div>
    <div class="info">
        When fetching match data you can use either the match id, or the match perma link hash.
    </div>
</div>

<script>

const basicMatch =  `{
    "id": 187,
    "date": "2026-03-03T14:53:55.000Z",
    "hash": "ca5eda2e6a2e49c3a4707aac1c7d19be",
    "server": "Horse Noise 60tr",
    "gametype": "Tournament Team Game",
    "map": "DM-SpaceNoxx",
    "playtime": 59.1727,
    "players": 32,
    "winners": [
        "Red"
    ],
    "winnerScore": 19,
    "bInstagib": false,
    "teams": 2,
    "teamScores": {
      "red": 19,
      "blue": 2
    }
}`; 

const matchDetailed = `{
  "id": 187,
  "hash": "ca5eda2e6a2e49c3a4707aac1c7d19be",
  "server": "Horse Noise 60tr",
  "gametype": "Tournament Team Game",
  "map": "DM-SpaceNoxx",
  "gamespeed": 100,
  "bHardcore": true,
  "realGamespeed": 110,
  "bTournamentMode": true,
  "bInsta": false,
  "date": "2026-03-03T14:53:55.000Z",
  "playtime": 59.1727,
  "timeLimit": 1,
  "targetScore": 0,
  "matchStart": 40.8182,
  "matchEnd": 99.9909,
  "players": 32,
  "teams": 2,
  "mutators": "SmartStockBots",
  "winners": [
    "Red"
  ],
  "winnerScore": 19,
  "teamScores": {
    "red": 19,
    "blue": 2
  }
}`;


const matchCTFLadderInfo = [
  UIUnorderedList([
    [
      UIB("Main object: ", "blue-font"),
      `Date, id, hash, server name, gametype name, map name, playtime, total teams, team scores, players.`
    ], 
    [
      UIB("players array: ", "blue-font"),
      `name, id, hash team, country, flagTaken, flagPickup,flagDrop,flagAssist,flagCover,flagSeal,flagCapture,flagKill,flagReturn,matchResult`
    ], 
  ]),
];

const matchCTFLadder = `{
  "id": 258,
  "hash": "d2e24f7eb910c2c6c6a8483a52a7d1a5",
  "date": "2023-02-16T20:25:31.000Z",
  "playtime": 1204.66,
  "serverName": "UTCTF.pug Server #02 [DE] [469c] [RimuHosting]",
  "gametypeName": "New Capture the Flag",
  "mapName": "CTF-Archa-wip3",
  "totalTeams": 2,
  "redTeamScore": 4,
  "blueTeamScore": 1,
  "players": [
    {
      "country": "de",
      "team": "Red",
      "name": "SMK",
      "id": 1,
      "flagTaken": 1,
      "flagPickup": 1,
      "flagDrop": 2,
      "flagAssist": 0,
      "flagCover": 4,
      "flagSeal": 4,
      "flagCapture": 0,
      "flagKill": 23,
      "flagReturn": 16,
      "matchResult": "Won"
    },...
  ]
}`;


const matchCTFInfo = [
  UIUnorderedList([
    [
      UIB("teams object: ", "blue-font"),
      `The CTF totals for each team.`
    ], 
    [
      UIB("caps array: ", "blue-font"),
      `Basic data about each cap.`
    ], 
    [
      UIB("players array: ", "blue-font"),
      `CTF stats for each player.`
    ], 
  ]),
];

const matchCTF = `{
  "teams": {
    "red": {
      "capIds": [434, 436, 437, 439, 441],
      "flagTaken": 40,
      "flagPickup": 10,
      "flagDrop": 44,
      "flagAssist": 1,
      "flagCover": 23,
      "flagSeal": 6,
      "flagCapture": 5,
      "flagKill": 60,
      "flagReturn": 46,
      "returnTypes": {
        "base": 35,
        "mid": 9,
        "enemyBase": 2,
        "closeSave": 0
      },
      "flagCarryTime": {
        "total": 557.28155,
        "min": 0.109091,
        "max": 53.7727,
        "average": 111.45631
      },
      "flagTotalTimesHeld": 50,
      "totalPlayers": 5
    },
    "blue": {
      "capIds": [435, 438, 440],
      "flagTaken": 50,
      "flagPickup": 16,
      "flagDrop": 62,
      "flagAssist": 4,
      "flagCover": 17,
      "flagSeal": 4,
      "flagCapture": 3,
      "flagKill": 40,
      "flagReturn": 34,
      "returnTypes": {
        "base": 24,
        "mid": 6,
        "enemyBase": 2,
        "closeSave": 2
      },
      "flagCarryTime": {
        "total": 468.46356,
        "min": 0.0181818,
        "max": 37.2909,
        "average": 93.692712
      },
      "flagTotalTimesHeld": 66,
      "totalPlayers": 5
    }
  },
  "caps": [
    {
      "id": 434,
      "coverPlayers": [
        {
          "name": "pica11111",
          "totalCovers": 1,
          "timestamps": [1029.31]
        }
      ],
      "carryInfo": [
        {
          "name": "blackmane",
          "startTimestamp": 1012.8,
          "endTimestamp": 1030.03,
          "carryTime": 17.2273
        }
      ],
      "assistsBy": [],
      "capType": "Solo",
      "flagTeam": "blue",
      "takenTimestamp": 1012.8,
      "cappedTimestamp": 1030.03,
      "takenPlayer": "blackmane",
      "capPlayer": "blackmane",
      "capTime": 17.2273,
      "carryTime": 17.2273,
      "capTeam": "red",
      "droppedTime": 0,
      "drops": 0,
      "covers": 1,
      "uniqueCarriers": 1,
      "kills": {
        "red": 7,
        "blue": 2,
        "green": 0,
        "yellow": 0
      },
      "suicides": {
        "red": 0,
        "blue": 1,
        "green": 0,
        "yellow": 0
      },
      "capPlayerId": 23,
      "takenPlayerId": 23
  }]...rest of caps,
  "players": [
    {
      "name": "blackmane",
      "country": "us",
      "team": "Red",
      "capIds": [434, 437, 441],
      "assistIds": [436],
      "id": 23,
      "flagTaken": 23,
      "flagPickup": 3,
      "flagDrop": 23,
      "flagAssist": 1,
      "flagCover": 8,
      "flagSeal": 0,
      "flagCapture": 3,
      "flagKill": 2,
      "flagReturn": 3,
      "returnTypes": {
        "base": 2,
        "mid": 1,
        "enemyBase": 0,
        "closeSave": 0
      },
      "flagCarryTime": {
        "total": 324.745,
        "min": 0.336364,
        "max": 36.5455,
        "average": 12.4901923076923
      },
      "flagTotalTimesHeld": 26
    }//rest of player data   
  ]
}`;

const matchKillsBasicInfo = [
  UIUnorderedList([
      UIB("players array: ", "blue-font"),
      `each element is a player kill/death totals summary:`,
      UISpan(` name, hash, kill total, team kill total, deaths by kill, and deaths by team kill.`, "monospace")
    ], 
    [
      UIB("kills & teamKills arrays: ", "blue-font"),
      `every element is a kill, every kill is an object containing the timestamp, killer, and victim names. `,
    ]),
];

const matchKillsBasic = `{
  "players": [
    {
      "id": 1,
      "name": "SMK",
      "hash": "ea2aeb7169e63571748b56953d8341c5",
      "kills": 55,
      "deathsByKill": 41,
      "teamKills": 0,
      "deathsByTeamKill": 0
    },...rest of players
  ],
  "kills": [
    {
      "timestamp": 6.51818,
      "killer": "GigaChad",
      "victim": "z"
    },...rest of kills
  ],
  "teamKills": [
    {
      "timestamp": 3.2,
      "killer": "GigaChad",
      "victim": "z"
    },...rest of teamKills
  ]
}`;

const matchKillsDetailedInfo = [
  UIUnorderedList([
    [
      UIB("players array: ", "blue-font"),
      `each element is a player kill/death totals summary:`,
      UISpan(` name, hash, kill total, team kill total, deaths by kill, and deaths by team kill.`, "monospace")
    ], 
    [
      UIB("killsMatchUp object: ", "blue-font"),
      `each key is the killer, every killer contains an object of victims, each victim's value is the total times they were killed by killer.`
    ],
    [
      UIB("kills & teamKills arrays: ", "blue-font"),
      `every element is a kill, every kill is an object containing the timestamp, killer, victim, and weapon names. `,
    ]
  ]),
]

const matchKillsDetailed = `
{
  "players": [
    {
      "id": 1,
      "name": "SMK",
      "hash": "ea2aeb7169e63571748b56953d8341c5",
      "kills": 55,
      "deathsByKill": 41,
      "teamKills": 0,
      "deathsByTeamKill": 0
    },...rest of players
  ],
  "killsMatchUp": {
    "GigaChad": {
      "z": 12,
      "Ut4_Pro": 9,
      "cartman": 14,
      "~*Nc*~Jun10r-M1n7h-": 4,
      "UTA&f.Ulv": 2
    },
    "z": {
      "subz\`": 8,
      "GigaChad": 17,
      "SMK": 20,
      "[-CC-].1mperium": 4,
      "magik\`": 10
    }...rest of kills match up
  },
  "kills": [
    {
      "timestamp": 6.22,
      "killer": "GigaChad",
      "victim": "z",
      "kWeapon": "Sniper Rifle",
      "vWeapon": "Sniper Rifle"
    },
    {
      "timestamp": 20.22,
      "killer": "z",
      "victim": "subz\`",
      "kWeapon": "Shock Rifle",
      "vWeapon": "Shock Rifle"
    },...rest of kills data
  ],
  "teamKills": [
    {
      "timestamp": 46.22,
      "killer": "Player1",
      "victim": "Player2",
      "kWeapon": "Sniper Rifle",
      "vWeapon": "Goldfish"
    },
}`;

const playersFullData = `
//ctf match
[
  {
    "name": "LM",
    "hash": "dfd5b430bc4db2c2836d0227ad9ac0c4",
    "id": 3,
    "spectator": false,
    "bot": false,
    "country": "no",
    "playtime": 1199.74,
    "team": "Blue",
    "matchResult": "Lost",
    "weaponStats": {
      "Shock Rifle": {
        "kills": 32,
        "deaths": 26
      },
      "Rocket Launcher": {
        "kills": 3,
        "deaths": 12
      },
      "Translocator": {
        "kills": 3,
        "deaths": 17
      },
      "None": {
        "kills": 2,
        "deaths": 0
      },
      "Flak Cannon": {
        "kills": 0,
        "deaths": 1
      },
      "Sniper Rifle": {
        "kills": 3,
        "deaths": 3
      }
    },
    "frags": {
      "score": 144,
      "frags": 38,
      "kills": 43,
      "headshots": 2,
      "deaths": 59,
      "suicides": 5,
      "teamKills": 0,
      "efficiency": 40.1869,
      "net": -16
    },
    "special": {
      "multis": {
        "double": 2,
        "multi": 0,
        "ultra": 0,
        "monster": 0,
        "best": 2
      },
      "sprees": {
        "spree": 0,
        "rampage": 0,
        "dominating": 0,
        "unstoppable": 0,
        "godlike": 0,
        "best": 3
      },
      "firstBlood": false
    },
    "items": {
      "amp": 0,
      "belt": 1,
      "boots": 0,
      "body": 6,
      "pads": 12,
      "invis": 0,
      "shp": 0
    },
    "ctf": {
      "flagTaken": 1,
      "flagPickup": 1,
      "flagDrop": 2,
      "flagAssist": 1,
      "flagCover": 4,
      "flagSeal": 2,
      "flagCapture": 0,
      "flagKill": 18,
      "flagReturn": 14,
      "returnTypes": {
        "base": 10,
        "mid": 3,
        "enemyBase": 1,
        "closeSave": 0
      },
      "flagCarryTime": {
        "total": 2.11818,
        "min": 0.0727273,
        "max": 2.04545,
        "average": 1.05909
      },
      "flagTotalTimesHeld": 2
    },... rest of players in match
]

  //domination match

[
  {
    "name": "Ooper",
    "hash": "f789d64fdb64f0eb3db2100edde4e9aa",
    "id": 27,
    "spectator": false,
    "bot": false,
    "country": "",
    "playtime": 1212.1,
    "team": "Red",
    "matchResult": "Winner",
    "weaponStats": {
      "Enhanced Shock Rifle": {
        "kills": 629,
        "deaths": 32
      },
      "None": {
        "kills": 13,
        "deaths": 0
      }
    },
    "frags": {
    "score": 808,
    "frags": 642,
    "kills": 642,
    "headshots": 0,
    "deaths": 32,
    "suicides": 0,
    "teamKills": 0,
    "efficiency": 95.2522,
    "net": 610
    },
    "special": {
    "multis": {
      "double": 21,
      "multi": 9,
      "ultra": 11,
      "monster": 39,
      "best": 27
    },
    "sprees": {
      "spree": 7,
      "rampage": 1,
      "dominating": 1,
      "unstoppable": 2,
      "godlike": 11,
      "best": 91
    },
    "firstBlood": false
    },
    "items": {
      "amp": 0,
      "belt": 0,
      "boots": 0,
      "body": 0,
      "pads": 0,
      "invis": 0,
      "shp": 0
    },
    "dom": {
      "All": {
        "pointId": 0,
        "caps": {
          "total": 69
        },
        "controlTime": {
          "total": 893.982,
          "longest": 62.2545,
          "shortest": 0.218182
        },
        "controlPercent": 25.0481,
        "points": {
          "total": 168.8,
          "max": 12.2,
          "stolen": 10.4
        },
        "scoreTime": 794.473
      },
      "Arturo's": {
        "pointId": 1,
        "caps": {
          "total": 19
        },
        "controlTime": {
          "total": 216.718,
          "longest": 44.2455,
          "shortest": 0.263636
        },
        "controlPercent": 18.1813,
        "points": {
          "total": 40.4,
          "max": 8.4,
          "stolen": 3.2
        },
        "scoreTime": 198.536
      },
      "Rooftop": {
        "pointId": 2,
        "caps": {
          "total": 21
        },
        "controlTime": {
          "total": 140.845,
          "longest": 20.4909,
          "shortest": 0.218182
        },
        "controlPercent": 11.8209,
        "points": {
          "total": 24.6,
          "max": 4,
          "stolen": 3.4
        },
        "scoreTime": 107.273
      },
      "Garage": {
        "pointId": 3,
        "caps": {
          "total": 29
        },
        "controlTime": {
          "total": 536.418,
          "longest": 62.2545,
          "shortest": 0.327273
        },
        "controlPercent": 45.2451,
        "points": {
          "total": 103.8,
          "max": 12.2,
          "stolen": 3.8
        },
        "scoreTime": 488.664
      }
    }
  },... rest of players in match
]
`;

const matchPlayersBasic = `[
  {
    "id": 84,
    "spectator": false,
    "country": "",
    "bot": true,
    "matchResult": "Won",
    "team": "Green",
    "score": 5,
    "frags": 5,
    "kills": 5,
    "deaths": 1,
    "playtime": 19.4364,
    "name": "Sarena",
    "hash": "82f1d6311fcce730f6d77f1665f80be0"
  },
  {
    "id": 27,
    "spectator": false,
    "country": "",
    "bot": false,
    "matchResult": "Lost",
    "team": "Red",
    "score": 1,
    "frags": 1,
    "kills": 1,
    "deaths": 2,
    "playtime": 19.5364,
    "name": "Ooper",
    "hash": "f789d64fdb64f0eb3db2100edde4e9aa"
  },
  {
    "id": 81,
    "spectator": false,
    "country": "",
    "bot": true,
    "matchResult": "Lost",
    "team": "Blue",
    "score": 0,
    "frags": 0,
    "kills": 0,
    "deaths": 1,
    "playtime": 19.5364,
    "name": "Not Found",
    "hash": "Not Found"
  },
  {
    "id": 40,
    "spectator": false,
    "country": "",
    "bot": true,
    "matchResult": "Lost",
    "team": "Gold",
    "score": 0,
    "frags": 0,
    "kills": 0,
    "deaths": 2,
    "playtime": 18.4455,
    "name": "Cali",
    "hash": "e3bed28b347f26bfb1d0c9b9bda2712b"
  }
]`;

class JSONExample{

		constructor(parent, category, title, linkId, info, data, exampleLinks){

			this.parent = parent;
			this.category = category;
			this.title = title;
			this.linkId = linkId;
			this.info = info;
			this.data = data;
			this.exampleLinks = exampleLinks;

			this.wrapper = UIDiv("hidden");

			this.parent.append(this.wrapper);
			this.create();
			this.render(this.category);
		}

		create(){

			const header = document.createElement("h3");
			header.id = this.linkId;
			header.append(this.title);

			const info = UIDiv("json-info");

      if(!Array.isArray(this.info)){
			  info.append(this.info);
      }else{
        info.append(...this.info);
      }

			this.wrapper.append(header, info);

			for(let i = 0; i < this.exampleLinks.length; i++){

				const e = this.exampleLinks[i];

				const elem = UIDiv("json-link-example");
				elem.append(`https://example.com/api/json/${e}`);

				this.wrapper.append(elem);
			}

			const exampleOutput = document.createElement("code");
			exampleOutput.append(this.data);

			this.wrapper.append(exampleOutput);
		}

		render(newMode){

        console.log(this.category, newMode);

        if(this.category === newMode){
          this.wrapper.className = "json-example";
        }else{
          this.wrapper.className = "hidden";
        }
      }
    }

    class ExampleManager{

        constructor(){

            this.parent = document.querySelector("#root");
            this.mode = "<%= mode %>";

            UIHeader(this.parent, "JSON Examples");
            this.createTabs();

          this.examples = [
            new JSONExample(
              this.parent, 
              "match", 
              "Basic", 
              "basic", 
              "Returns data about the match such as server, gametype, map, total players, total teams, winners.", 
              basicMatch, 
              [
                "match/basic/?id=187", 
                "match/basic/?id=ca5eda2e6a2e49c3a4707aac1c7d19be"
              ]
            ),
            new JSONExample(
              this.parent, 
              "match", 
              "Detailed", 
              "detailed", 
              "Returns more detailed data about the match, includes mutators, gamespeed, and bHardcore.", 
              matchDetailed, 
              [
                "match/detailed/?id=187", 
                "match/detailed/?id=ca5eda2e6a2e49c3a4707aac1c7d19be"
              ]
            ),
            new JSONExample(
              this.parent, 
              "match", 
              "CTF Comp/Ladder", 
              "ctf-comp-ladder", 
              matchCTFLadderInfo,
              matchCTFLadder, 
              [
                "match/ctf-ladder/?id=187", 
                "match/ctf-ladder/?id=ca5eda2e6a2e49c3a4707aac1c7d19be"
              ]
            ),
            new JSONExample(
              this.parent, 
              "match", 
              "CTF", 
              "ctf", 
              matchCTFInfo,
              matchCTF, 
              [
                "match/ctf/?id=187", 
                "match/ctf/?id=ca5eda2e6a2e49c3a4707aac1c7d19be"
              ]
            ),
            new JSONExample(
              this.parent, 
              "match", 
              "Players Basic", 
              "players-basic", 
              "Returns all players in match, includes: id, hash, name, team, playtime, score, kills, frags, deaths, match result.", 
              matchPlayersBasic, 
              [
                "match/players-basic/?id=187", 
                "match/players-basic/?id=ca5eda2e6a2e49c3a4707aac1c7d19be"
              ]
            ),
            new JSONExample(
              this.parent, 
              "match", 
              "Players Full", 
              "players-full", 
              "Returns detailed data for every player(spectators are ignored), this includes CTF stats and Domination stats if applicable.", 
              playersFullData, 
              [
                "match/players-full/?id=187", 
                "match/players-full/?id=ca5eda2e6a2e49c3a4707aac1c7d19be"
              ]
            ),
            new JSONExample(
              this.parent, 
              "match", 
              "Kills Detailed", 
              "kills-detailed", 
              matchKillsDetailedInfo,
              matchKillsDetailed, 
              [
                "match/kills-detailed/?id=187", 
                "match/kills-detailed/?id=ca5eda2e6a2e49c3a4707aac1c7d19be"
              ]
            ),
            new JSONExample(
              this.parent, 
              "match", 
              "Kills Basic", 
              "kills-basic", 
              matchKillsBasicInfo,
              matchKillsBasic, 
              [
                "match/kills-basic/?id=187", 
                "match/kills-basic/?id=ca5eda2e6a2e49c3a4707aac1c7d19be"
              ]
            )
          ];

          this.render();
        }

    	createTabs(){

			const options = [
				{"display": "Match", "value": "match"},
				{"display": "testttt", "value": "t"},
			];

			this.tabs = new UITabs(this.parent, options, this.mode);

			this.tabs.wrapper.addEventListener("tabChanged", (e) =>{

				history.pushState(null, "", `/jsonexamples/?mode=${e.detail.newTab}`);
				this.mode = e.detail.newTab;
				this.render();
			});
		}


		render(){

			for(let i = 0; i < this.examples.length; i++){
				
				const e = this.examples[i];

				e.render(this.mode);
			}
		}
	}


	new ExampleManager();
</script>

<%- include("footer.ejs") -%>