.page-layout-editor-wrapper{
    margin-bottom:var(--margin-1);
}

.page-layout-editor-box{
    background-color:var(--bg-color-3);
    max-width:500px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    color:white;
    border:1px solid var(--border-color-1);
    margin-bottom:var(--margin-2);
}

.page-layout-editor-title{
    padding:5px;
    font-size:14px;
    color:yellow;
    font-weight: 500;
}

.page-layout-editor-options{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.page-layout-editor-options button{
    background-color:var(--bg-color-2);
    padding:5px;
    border:1px solid var(--border-color-1);
    color:white;
    transition: all 0.5s;;
}

.page-layout-editor-options button:hover{
    background-color:var(--bg-color-2);
    color:yellow;
    font-weight:bold;

}