
.wrapper{
    text-align:center;
    font-size:var(--font-size-small);
    color:var(--font-color-1);
}
.info{
    display:inline-block;
    padding:var(--padding-1);
}
.button{
    user-select: none;
    background-color:var(--bg-color-2);
    display:inline-block;
    padding:var(--padding-2);
}

.button:hover{
    cursor: pointer;
}