.wrapper{
    display:inline-block;
	background-color:var(--bg-color-2);
	margin-right:var(--margin-2);
	margin-left:var(--margin-2);
	margin-bottom: var(--margin-2);
	width:350px;
    border:1px solid var(--border-color-1);
    overflow: hidden;
    white-space: nowrap;
}

.title{
	color:var(--font-color-1);
	padding:var(--padding-1);
    text-overflow: ellipsis;
    
}

.info{
    color:var(--font-color-2);
    font-size:var(--font-size-4);
    line-height: var(--line-height-1);
    margin-bottom:var(--margin-2);
    text-overflow: ellipsis;
}

.white{
    color:white;
}
