.wrapper{
    background-color:var(--bg-color-2);
    color:var(--font-color-2);
    position:fixed;
    top:0;
    width:100%;  
    text-align:center;
}

.wrapper a{
    display:inline-block;
    padding:15px 15px;
}

.active{
    color:var(--active-link-color);
    border-bottom:2px solid yellow;
}